/* Sorts the variable $list_to_sort and prints the sorted list in the debug output */

@import '103-sort_list';

$list_to_sort: john, anna, zoe, kim, felicia, carrie;

$sorted_list: sort($list_to_sort);

@debug $sorted_list;

